@import 'src/lib/utilities.scss';

.markdownContent {
  margin-bottom: $spacer;
  font-size: $body-font-size;
  line-height: 1.75;
  font-family: $serif;
  font-variation-settings: 'wght' 300;

  // light/dark mode
  color: $primary-light-color;
  @media (prefers-color-scheme: dark) {
    color: $secondary-dark-color;
  }

  // children
  p {
    margin-bottom: $spacer * 2;
    &:last-child {
      margin-bottom: 0;
    }
  }

  ul,
  ol {
    margin-bottom: $spacer * 2;
    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    font-variation-settings: 'wght' 300;
    text-decoration: none;
    transition: $link-transition;

    // light/dark mode
    color: $accent-light-color;
    @media (prefers-color-scheme: dark) {
      color: $accent-dark-color;
    }
    &:hover {
      color: $primary-light-color;
      @media (prefers-color-scheme: dark) {
        color: $secondary-dark-color;
      }
    }
    @include focus-border-bottom-primary(0.1rem);
  }
}
