@use '/src/styles/variables';

html {
  background-color: variables.$color-light;
}

body {
  color: variables.$color-dark;
  font-family: variables.$font-family-mono;
  font-size: variables.$font-size-base;
  font-weight: variables.$font-weight-normal;
}

section {
  border: 2px solid variables.$color-dark;
  padding: 2em;
}

h1,
h2 {
  font-family: variables.$font-family-display;
}

p {
  margin-bottom: variables.$gap-sm;
}

a {
  color: variables.$color-dark;
}

hr {
  border-color: variables.$color-dark;
  margin-top: 2em;
  margin-bottom: 2em;
}
