// Import this file with: @use '/src/styles/mixins';
// Reference mixins with: @include mixins.mixin-name()

@mixin blink($speed: 2s) {
  animation: $speed linear infinite objectionable-blink-effect;

  @keyframes objectionable-blink {
    0% {
      visibility: hidden;
    }

    50% {
      visibility: hidden;
    }

    100% {
      visibility: visible;
    }
  }
}

@mixin marquee($speed: 5s) {
  position: absolute;
  animation: $speed linear infinite objectionable-marquee;

  @keyframes objectionable-marquee {
    0% {
      left: 0;
    }
    100% {
      left: -100%;
    }
  }
}
