// Import this file with: @use '/src/styles/mixins';
// Reference mixins with: @include mixins.mixin-name()

@mixin blink($speed: 2s) {
  animation: $speed linear infinite condemned-blink-effect;

  @keyframes condemned-blink-effect {
    0% {
      visibility: hidden;
    }

    50% {
      visibility: hidden;
    }

    100% {
      visibility: visible;
    }
  }
}
