// Import this file with: @use '/src/styles/variables';
// Reference variables with: variables.$variable-name

// Colors


//
$font-family-display: var(--font-belanosima);
$font-family-mono: var(--font-martian-mono);
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-size-xs: 1.4rem;
$font-size-sm: 1.6rem;
$font-size-md: 1.8rem;
$font-size-lg: 2rem;
$font-size-xl: 2.4rem;
$font-size-xxl: 3.2rem;
$font-size-base: $font-size-sm;

// Grid
$gap-xs: 4px;
$gap-sm: 8px;
$gap-md: 16px;
$gap-lg: 32px;
$gap-xl: 64px;
$gap-xxl: 128px;

// Decorations
