@import 'src/lib/styles/utilities';

.siteLayout {
  min-height: 100vh;

  // light/dark mode
  background-color: $secondary-light-color;
  @media (prefers-color-scheme: dark) {
    background-color: $primary-dark-color;
  }
}

.siteLayout__main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 50px 2rem;
}

.siteLayout__content {
  flex: 1 1 auto;
  @include readability-width($body-font-size);
}
