@import 'src/lib/styles/utilities';

.pageHeader {
  margin-bottom: $spacer * 2.5;
}

.pageHeader__title {
  font-size: 3rem;
  font-family: $sans-serif;
  font-variation-settings: 'wght' 900;
  border-bottom: 0.1rem solid;

  // light/dark mode
  color: $primary-light-color;
  border-color: $accent-light-color;
  @media (prefers-color-scheme: dark) {
    color: $secondary-dark-color;
    border-color: $accent-dark-color;
  }
}

.pageHeader__description {
  font-size: 1.2rem;
  font-family: $sans-serif;
  font-variation-settings: 'wght' 300;
  border-bottom: 0.1rem solid;

  // light/dark mode
  border-color: $accent-light-color;
  color: $accent-light-color;
  @media (prefers-color-scheme: dark) {
    border-color: $accent-dark-color;
    color: $accent-dark-color;
  }
}
